* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  font-size: 14px;
  background-color: #1E1E1E;
}

.container {
  max-width: 1440px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
}
html, body, #root, .App, .container {
  height: 100%;
}
.main {
  flex: 1;
}
/* nav */

.nav {
  -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    background-color: #0f0e0e40;
    border: 1px solid #1f2020a1;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 34;
  right: 0;
  padding: 16px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.nav img {
  width: 200px;
}

.nav ul {
  display: flex;
  list-style: none;
}

.nav ul li {
  font-weight: 400;
  cursor: pointer;
  transition: all .2s;
}

.nav ul li a {
  text-decoration: none;
  color: white;
}

.nav ul li:hover {
  color: #7B2BF9;
}



.nav ul li + li {
  margin-left: 50px;
}

/* table */

.table-wrap {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.167);
  border-radius: 20px;
  padding: 20px;
  background-color: #242e34;
  padding-bottom: 10px;
  color: #fff;
}

.table {
  width: 100%;
  padding: 20px;
  border-collapse: collapse;
  border-radius: 20px;
}

.table thead tr th {
  padding-bottom: 20px;
}

.table tbody tr {
  background-color: #242e34;
  margin-bottom: 10px;
  border-bottom: 1px solid white;
}
.table tbody tr:last-child{
  border-bottom: 0;
  margin-bottom: 0;
}

.table tbody tr td {
  padding: 13px;
  min-width: 30%;
  text-align: left;
}

.table tr {
  border-radius: 16px;
}


/* Search */
.search__container {
  max-width: inherit;
  width: calc(100% - 30px);
  box-sizing: border-box;
  position: fixed;
  margin: auto;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 5px 10px 0 10px;
  backdrop-filter: blur(12px);
    background-color: #1E1E1E50;
}

.search__container__sticky {
  width: 100%;
  margin-top: 50px;
  position: sticky;
  transform: none;
  bottom: 50px;
}


.search {
  background-color: transparent;
  max-width: inherit;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}

.search__input {
  width: 100%;
}
.search__input_nav {
  display: flex;
  justify-content: space-between;
}
.nav > a {
  display: flex;
  align-items: center;
  color: white; 
  gap: 5px;
  text-decoration: none;
}
.nav svg {
  width: 80px;
  height: auto;
}

.search__input textarea {
  width: 100%;
  flex: 1;
  padding: 10px 15px 10px 10px;
  background-color: #fff;
  font-size: 15px;
  border-radius: 16px;
  border: none;
  max-height: 250px;
  min-height: 200px;
  max-width: 100%;
  resize: none;
  outline: none;
  border-radius: 12px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.167);
}

.search button {
  align-self: flex-end;
  width: auto;
  height: 44px;
  border-radius: 12px;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 10px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  font-size: 15px;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  font-weight: bold;
  border: 1px solid transparent;
  transition: .1s all ease;
}

.search button:hover {
  background-color:#0f0e0e;
  color: white;
  border-color: white;

}

.loading {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.loading img {
  width: 50px;
}

.error {
  font-size: 18px;
  color: #de4a6f;
  margin-top: 30px;
  text-align: center;
}

.manual {
  margin-top: 30px;
}


h3 {
  margin: 40px 0 24px 0;
}

.code-block {
  background-color: #2b2b2b;
  padding: 20px;
  border-radius: 8px;
  margin: 10px auto 24px auto;
  font-family: 'Courier New', Courier, monospace;
  color: black;
  font-size: 13px;
  position: relative;
}

.code-block-header {
  display: flex;
  gap: 8px;
  margin-bottom: 10px;
}

.circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.red {
  background-color: #ff5f56;
}

.yellow {
  background-color: #ffbd2e;
}

.green {
  background-color: #27c93f;
}

.code-block-content {
  background-color: #1e1e1e;
  padding: 15px;
  border-radius: 8px;
  overflow-x: auto;
  margin-bottom: 10px;
}

.copy-button {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #1e1e1e;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}


.icon {
  font-size: 18px;
}

.copy-button .icon {
  color: #fff;
}

.comment {
  color: gray;
}
a {
  color: currentColor;
}
h2 {
  margin: 40px 0 24px 0;
}
img {
  width: 100%;
  object-fit: contain;
}

.tab {
  padding: 6px 12px;
  border-radius: 3px;
  background-color: #1e1e1e;
  color: #fff;
  transition: background-color 0.3s ease;
  font-size: 14px;
  cursor: pointer;
  margin-right: 5px;
  box-shadow: none;
  border: 0;
}
.tab:hover {
  background-color: #333;
}
.tab.active {
  background-color: #444;
}

.tabs {
  margin-bottom: 10px;
}

.progress-container {
  width: 100%;
  margin: 20px auto;
  padding: 20px;
  border-radius: 12px;
  background-color: #242e34;
  color: #fff;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.167);
}

p {
  font-size: 16px;
  margin-bottom: 10px;
  text-align: left;
  font-weight: bold;
}

.progress-bar {
  width: 100%;
  height: 10px;
  background-color: #e0e0e0;
  border-radius: 12px;
  overflow: hidden;
}

.progress-bar-fill {
  height: 100%;
  width: 100%;
  background: linear-gradient(to right, #3c7c37, #295f21);
  border-radius: 12px 0 0 12px;
  transition: width 0.5s ease-in-out;
}

@keyframes flicker {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}


.simple_img {
  width: auto;
  display: inline-block;
  margin: 20px 0 20px 0;
}
.small {
  margin: 5px 0;
  font-size: 14px;
  font-weight: 400;
}

.message-user {
  background-color: #e0f7fa;
  align-self: flex-end;
}

.chat-history {
  overflow-y: auto;
  margin: 90px auto 0 auto;
  max-width: 800px; 
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 300px;
}

.message {
  padding: 10px 15px;
  border-radius: 12px;
  max-width: 90%;
  word-wrap: break-word;
  margin-bottom: 10px;
}

.message-user {
  background-color: rgb(15 15 15, (1,1));
  color: rgb(0, 0, 0); 
  align-self: flex-end; 
}

.message-bot {
  background-color: #242e34; 
  color: white;
  align-self: flex-start;
}

.message-error {
  background-color: #fdecea; 
  border: 1px solid #f5c6cb;
  color: #721c24;
  align-self: flex-start;
}

.search {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}

.search__input textarea {
  max-width: 100%; 
}

.generating {
  font-size: 16px;
  color: #555;
  text-align: center;
  animation: fade 1.5s infinite;
}

@keyframes fade {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}

.message-bot {
  animation: typing 0.3s ease-in-out;
}
.code-block-container {
  position: relative;
  background: rgb(40, 42, 54);
  padding: 1em;
  margin: 1em 0;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.code-block-container pre {
  margin: 0;
  overflow-x: auto;
  font-size: 14px;
  line-height: 1.5;
}

.copy-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(80, 80, 80, 0.86);
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
}

.copy-button:hover {
  background-color: rgb(243, 243, 243);
  color: #0f0e0e;
}
.copy-button:hover svg path, .copy-button:hover svg rect {
  stroke: #0f0e0e;
}
.code-block-content {
  color: tan;
}
.xs-text {
  font-size: 11px;
  text-align: center;
  display: flex;
  align-items: center;
  color: #555;
}

@keyframes typing {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 1020px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 800px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .table tbody tr td:nth-child(2) {
    overflow: hidden;
    width: 200px !important;
    display: block;
  }
}

@media (max-width: 500px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .table tbody tr td:nth-child(2) {
    overflow: hidden;
    width: 200px !important;
    display: block;
  }

  .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav ul {
    margin-top: 15px;
  }
  body {
    font-size: 14px;
  }
  .message {
    max-width: 100%;
  }
  .chat-history {
    margin-top: 120px;
    padding-bottom: 225px;
  }
  .search__input textarea {
    max-height: 150px;
    min-height: auto;
    height: 150px;
  }
  .code-block-container pre,
  body {
    font-size: 12px;
  }
  .copy-button {
    font-size: 8px;
  }
  .search button {
    font-size: 14px;
    margin: 10px 8px;
  }
}

.explorer .search {
  margin-top: 100px;
}
.explorer .search button {
  margin: 0;
}
.explorer .search__input {
  position: relative;
}

.explorer .search__input input {
  display: block;
  width: 100%;
  height: 100%;
  padding: 12px 35px;
  border: 0;
  border-radius: 12px;
}
.explorer .search__input svg {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}
.installing {
  color: white;
}